extends layout


block content
    <div>
        form.w3-container(action='/users/logout' method='GET')
            input.w3-btn.w3-right.w3-right.w3-blue-grey(type='submit' value='Logout')
        form.w3-container(action='/users/perfil'  method='GET')
            input.w3-btn.w3-left.w3-left.w3-blue-grey(type='submit' value='Perfil')
        form.w3-container(action='/users/news'  method='GET')
            input.w3-btn.w3-left.w3-left.w3-blue-grey(type='submit' value='Notícias')
    </div>

    if(pubs.length>0)
        #display.w3-card-4.modal.w3-animate-top(style=" width:100%; height=100%; overflow: auto; ")
        .w3-container.w3-blue
            h2.w3-center Lista de publicações
        - var check = true;
        each pub, index in pubs 
            .card
                .w3-row.w3-margin-bottom
                    .w3-col.s3
                        label.w3-text-blue
                            b Autor
                    .w3-col.s9.w3-border
                        form.w3-container(action='/users/perfis/'+pub.author  method='GET')
                            input.w3-input.w3-border.w3-light-grey.w3-left-align(type='submit' name='author' value=pub.author readonly="readonly")
                    .w3-col.s3
                        label.w3-text-blue
                            b Descrição
                    .w3-col.s9.w3-border
                        input.w3-input.w3-border.w3-light-grey(type='text' name='description' value=pub.description readonly="readonly")
                    .w3-col.s3
                        label.w3-text-blue
                            b Avaliação da Publicação
                    .w3-col.s9.w3-border
                        input.w3-input.w3-border.w3-light-grey(type='text' name='rating' value=pub.pub_rating readonly="readonly")
                    .w3-col.s3
                        label.w3-text-blue
                            b Recursos
                each recurso in pub.resources  
                    - var check = true; 
                        .w3-col.s3
                            label.w3-text-blue
                                b Titulo
                        .w3-col.s9.w3-border
                            input.w3-input.w3-border.w3-light-grey(type='text' name='title' value=recurso.title readonly="readonly")(onclick='showFile(' + '"' + recurso.id + '"' + ','+ '"' + recurso.extension + '"' + ','+ '"' +  pub.author + '"' + ',' + '"' + recurso.title + '"' + ')')                     
                        .w3-col.s3
                            label.w3-text-blue
                                b Avaliação do Recurso
                        .w3-col.s9.w3-border
                            input.w3-input.w3-border.w3-light-grey(type='text' name='rating' value=recurso.rating readonly="readonly")
                        each rating in recurso.rating_list
                            if check && (rating.rating_mail == utilizador.mail)
                                - check=false
                                .w3-col.s3
                                    label.w3-text-blue
                                        b Minha Avaliação do Recurso
                                .w3-col.s9.w3-border
                                    input.w3-input.w3-border.w3-light-grey(type='text' name='rating' value=rating.value readonly="readonly")(onclick='giveRating(' + '"' + pub.id + '"' + ','+ '"' +  recurso.id + '"' + ')')
                        if check
                            .w3-col.s3
                                label.w3-text-blue
                                    b Minha Avaliação do Recurso
                            .w3-col.s9.w3-border
                                input.w3-input.w3-border.w3-light-grey(type='text' name='rating'  readonly="readonly")(onclick='giveRating(' + '"' + pub.id + '"' + ','+ '"' +  recurso.id + '"' + ')')
                <br>
                <br>
                <br>
                .w3-col.s3
                        label.w3-text-blue
                            b Comentários
                .w3-col.s9.w3-border
                        each comentario in pub.comments
                            input.w3-input.w3-border.w3-light-grey(type='text' value=comentario.author_mail+ ' - ' +comentario.text readonly="readonly")
                        <div id=#{index}>
                        </div>
                
                .w3-col.s9.w3-border
                    input.w3-input.w3-border.w3-light-grey(type='text' id="input"+index)
                    input.w3-btn.w3-left.w3-left.w3-blue-grey(type='submit' value='Comentar')(onclick='add_comentario(' + '"' + utilizador.mail + '"' + ',' + '"'+ pub.author + '"' + ',' + '"'+   pub.data_created+ '"' + ',' + '"' + index + '"' + ')')     
                if utilizador.role=="administrador" || (utilizador.role=="produtor" && utilizador.mail==pub.author) 
                    .w3-col.s9.w3-border
                        form.w3-container(action='/users/pubs/delete/'+pub.id  method='GET')
                            input.w3-btn.w3-left.w3-left.w3-blue-grey(type='submit' value='Eliminar Publicação')
    else
        .w3-container.w3-blue
            h2.w3-center Ainda não existem publicações registadas 