extends layout

block content
    <div>
        <div class="w3-bar w3-blue w3-large">
        <a href="/users/news" class="w3-bar-item w3-button ">Notícias</a> 
        <a href="/mural" class="w3-bar-item w3-button ">Mural</a> 
        <a href="/users/logout" class="w3-bar-item w3-button" style="float: right";>Logout</a>
        <a href="/users/perfil" class="w3-bar-item w3-button" style="float: right";>Perfil</a>
        <a href="javascript:history.back()" class="w3-bar-item w3-button" style="float: right">Página Anterior</a>
    </div>


    if pedidos.length!=0 
        <div class="w3-container w3-margin-top w3-display-topmiddle" style="top:100px;width:1200px">
            .w3-container.w3-blue
                h2#header.w3-center Lista de pedidos para produtor
            <div class="w3-container w3-card-4">
                table#tabela_pedidos.w3-table.w3-bordered
                    tr
                        th Nome
                        th Curso
                        th Departamento
                        th Atividade
                        th
                        th
                    each pedido in pedidos
                        <tr id=#{pedido.mail}>
                            td #{pedido.name}
                            td #{pedido.course}
                            td #{pedido.department}
                            td #{pedido.activity}
                            td 
                                input.w3-btn.w3-left.w3-left.w3-blue-grey(type='submit' value='Aceitar')(onclick='aceitar_pedido(' + '"' + pedido.mail + '"' + ')')
                            td
                                input.w3-btn.w3-left.w3-left.w3-blue-grey(type='submit' value='Recusar')(onclick='recusar_pedido(' + '"' + pedido.mail + '"' + ')')
                        </td>
            </div>
        </div>
        #mensagem
    else
        .w3-container.w3-blue
            h2.w3-center Não existem pedidos de produtores
