extends layout

block content
    <div>
        <div class="w3-bar w3-blue w3-large">
        <a href="/users/news" class="w3-bar-item w3-button ">Notícias</a> 
        <a href="/mural" class="w3-bar-item w3-button ">Mural</a> 
        if utilizador.role=="administrador" || utilizador.role=="produtor"
            <a href="/users/pubs/upload" class="w3-bar-item w3-button ">Criar publicação</a> 
        if utilizador.role=="administrador" || utilizador.role=="administrador"
            <a href="/users/pedidos" class="w3-bar-item w3-button ">Pedidos para produtores</a> 
        if utilizador.role=="consumidor" && utilizador.pedido_produtor=="nao"   
            a#botao-pedido.w3-bar-item.w3-button()(onclick='pedir_produtor(' + '"botao-pedido' + '"' + ')') Tornar-me produtor
        <a href="/users/logout" class="w3-bar-item w3-button" style="float: right";>Logout</a>
        <a href="javascript:history.back()" class="w3-bar-item w3-button" style="float: right">Página Anterior</a>
    </div>
    <div class="w3-container w3-margin-top  w3-display-topmiddle" style="top:60px" >
        .w3-container.w3-blue.w3-center
            <h5 classe="w3-blue">Dados pessoais</h5>
        <div class="w3-container w3-card-4" style="width:1000px">
            .w3-col.s3
                label.w3-text-blue
                    b Nome
            .w3-col.s9.w3-border
                input.w3-input.w3-border.w3-light-grey(type='text' name='name' value=utilizador.name readonly="readonly")
            .w3-col.s3
                label.w3-text-blue
                    b Email
            .w3-col.s9.w3-border
                input.w3-input.w3-border.w3-light-grey(type='text' name='mail' value=utilizador.mail readonly="readonly")
            .w3-col.s3
                label.w3-text-blue
                    b Atividade
            .w3-col.s9.w3-border
                input.w3-input.w3-border.w3-light-grey(type='text' name='activity' value=utilizador.activity readonly="readonly")
            .w3-col.s3
                label.w3-text-blue
                    b Curso
            .w3-col.s9.w3-border
                input.w3-input.w3-border.w3-light-grey(type='text' name='course' value=utilizador.course readonly="readonly")
            .w3-col.s3
                label.w3-text-blue
                    b Departamento
            .w3-col.s9.w3-border
                input.w3-input.w3-border.w3-light-grey(type='text' name='department' value=utilizador.department readonly="readonly")
            .w3-col.s3
                label.w3-text-blue
                    b Papel
            .w3-col.s9.w3-border
                input.w3-input.w3-border.w3-light-grey(type='text' name='role' value=utilizador.role readonly="readonly")
            .w3-col.s3
                label.w3-text-blue
                    b Data Registo
            .w3-col.s9.w3-border
                input.w3-input.w3-border.w3-light-grey(type='text' name='role' value=utilizador.data_register readonly="readonly")
            .w3-col.s3
                label.w3-text-blue
                    b Último Login
            .w3-col.s9.w3-border
                input.w3-input.w3-border.w3-light-grey(type='text' name='role' value=utilizador.data_last_login readonly="readonly")
        </div>       
    </div>

    if(pubs.length>0)
        - var check = true;
        <div class="w3-container w3-margin-top  w3-display-topmiddle" style="top:530px" >
            .w3-container.w3-blue.w3-center
                <h5 classe="w3-blue">Lista de publicações</h5>
            each pub,index in pubs
                .w3-container.w3-blue
                    a.w3-bar-item.w3-button(href='/users/pub/'+pub.id, style="display: flex; justify-content: center") #{pub.author} -  #{pub.data_created.substr(0,16).replace("T", " ")}
                <div class="w3-container w3-card-4" style="width:1000px">
                    <p style="text-align: justify;text-justify: inter-word;"> #{pub.description}</p>   
                    <p> Avaliação da publicação: #{pub.pub_rating}     </p>  
                    <br>
                    <label class="w3-label">Comentários</label>
                    each comentario in pub.comments
                        <p style="display: flex; justify-content: left"> #{comentario.author_mail} -  #{comentario.data.substr(0,16).replace("T", " ")} - #{comentario.text}</p>  
                    <div id=#{index}>
                    </div>
                    <div>
                        input.w3-input.w3-border.w3-light-grey(type='text' id="input"+index style="display: inline-block;width: 810px;")
                        input.w3-btn.w3-left.w3-left.w3-blue-grey.w3-right(type='submit' style="display: inline-block;width: 150px;" value='Comentar')(onclick='add_comentario(' + '"' + utilizador.mail + '"' + ',' + '"'+ pub.author + '"' + ',' + '"'+   pub.data_created+ '"' + ',' + '"' + index + '"' + ')')     
                    </div>
                </div>
                <br>
                <br>
        </div>
