extends layout

block content
    <div>
        form.w3-container(action='/users/logout' method='GET')
            input.w3-btn.w3-right.w3-right.w3-blue-grey(type='submit' value='Logout')
        form.w3-container(action='/mural'  method='GET')
            input.w3-btn.w3-left.w3-left.w3-blue-grey(type='submit' value='Mural')
        if utilizador.role=="administrador" || utilizador.role=="produtor"
            form.w3-container(action='/users/pubs/upload'  method='GET')
                input.w3-btn.w3-left.w3-left.w3-blue-grey(type='submit' value='Criar publicação')
        if utilizador.role=="administrador" || utilizador.role=="administrador"
            form.w3-container(action='/users/pedidos'  method='GET')
                input.w3-btn.w3-left.w3-left.w3-blue-grey(type='submit' value='Pedidos para produtores')
        if utilizador.role=="consumidor" && utilizador.pedido_produtor=="nao"   
            input#botao-pedido.w3-btn.w3-left.w3-left.w3-blue-grey(type='submit' value='Tornar-me produtor')(onclick='pedir_produtor(' + '"botao-pedido' + '"' + ')')
    </div>
    .w3-row.w3-margin-bottom
                .w3-container.w3-blue
                    h2.w3-center Dados Pessoais
                .w3-col.s3
                    label.w3-text-blue
                        b Name
                .w3-col.s9.w3-border
                    input.w3-input.w3-border.w3-light-grey(type='text' name='name' value=utilizador.name readonly="readonly")
                .w3-col.s3
                    label.w3-text-blue
                        b Email
                .w3-col.s9.w3-border
                    input.w3-input.w3-border.w3-light-grey(type='text' name='mail' value=utilizador.mail readonly="readonly")
                .w3-col.s3
                    label.w3-text-blue
                        b Atividade
                .w3-col.s9.w3-border
                    input.w3-input.w3-border.w3-light-grey(type='text' name='activity' value=utilizador.activity readonly="readonly")
                .w3-col.s3
                    label.w3-text-blue
                        b curso
                .w3-col.s9.w3-border
                    input.w3-input.w3-border.w3-light-grey(type='text' name='course' value=utilizador.course readonly="readonly")
                .w3-col.s3
                    label.w3-text-blue
                        b Departamento
                .w3-col.s9.w3-border
                    input.w3-input.w3-border.w3-light-grey(type='text' name='department' value=utilizador.department readonly="readonly")
                .w3-col.s3
                    label.w3-text-blue
                        b Papel
                .w3-col.s9.w3-border
                    input.w3-input.w3-border.w3-light-grey(type='text' name='role' value=utilizador.role readonly="readonly")


    if(pubs.length>0)
        #display.w3-card-4.modal
        .w3-container.w3-blue
            h2.w3-center Lista de publicações
        
        each pub, index in pubs 
            .card
                .w3-row.w3-margin-bottom
                    .w3-col.s3
                        label.w3-text-blue
                            b Autor
                    .w3-col.s9.w3-border
                        input.w3-input.w3-border.w3-light-grey(type='text' name='author' value=pub.author readonly="readonly")
                    .w3-col.s3
                        label.w3-text-blue
                            b Descrição
                    .w3-col.s9.w3-border
                        input.w3-input.w3-border.w3-light-grey(type='text' name='description' value=pub.description readonly="readonly")
                    .w3-col.s3
                        label.w3-text-blue
                            b Avaliação da Publicação
                    .w3-col.s9.w3-border
                        input.w3-input.w3-border.w3-light-grey(type='text' name='rating' value=pub.pub_rating readonly="readonly")
                    .w3-col.s3
                        label.w3-text-blue
                            b Recursos
                each recurso in pub.resources   
                        .w3-col.s3
                            label.w3-text-blue
                                b Titulo
                        .w3-col.s9.w3-border
                            input.w3-input.w3-border.w3-light-grey(type='text' name='title' value=recurso.title readonly="readonly")(onclick='showImage(' + '"' + recurso.id + '"' + ','+ '"' + recurso.extension + '"' + ','+ '"' +  pub.author + '"' + ',' + '"' + recurso.title + '"' + ')')                     
                        .w3-col.s3
                                label.w3-text-blue
                                    b Avaliação do Recurso
                        .w3-col.s9.w3-border
                            input.w3-input.w3-border.w3-light-grey(type='text' name='rating' value=recurso.rating readonly="readonly")
                <br>
                <br>
                <br>
                .w3-col.s3
                        label.w3-text-blue
                            b Comentários
                .w3-col.s9.w3-border
                        each comentario in pub.comments
                            input.w3-input.w3-border.w3-light-grey(type='text' value=comentario.author_mail+ ' - ' +comentario.text readonly="readonly")
                        <div id=#{index}>
                        </div>
                
                .w3-col.s9.w3-border
                    input.w3-input.w3-border.w3-light-grey(type='text' id="input"+index)
                    input.w3-btn.w3-left.w3-left.w3-blue-grey(type='submit' value='Comentar')(onclick='add_comentario(' + '"' + utilizador.mail + '"' + ',' + '"'+ pub.author + '"' + ',' + '"'+   pub.data_created+ '"' + ',' + '"' + index + '"' + ')')     
    else
        .w3-container.w3-blue
            h2.w3-center Não tens publicações registadas 